In [10]:
import pandas as pd
import numpy as np
import codecs

In [12]:
# Explore Fundamentals DB
fun_df = pd.read_csv('data/Fundamentals_DLB.csv', low_memory=False) # do some type forcing.
# more fundamentals notes:  We care about "Industry Format".  'STD' is the most useful.
ratings_df = pd.read_csv('data/Ratings_DLB.csv')
sec_df = pd.read_csv('data/Securities_DLB.csv')
stocks_doc = codecs.open('data/Stocks_DLB.txt','rU','UTF-16')
stocks_df = pd.read_csv(stocks_doc, sep='\t', low_memory=False) # type force here too, split out the first few rows and look at strange fields.

In [13]:
fun_df.info() # inspect the columns and attempt to force types and fix nulls.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3181 entries, 0 to 3180
Columns: 921 entries, gvkey to weburl
dtypes: int64(14), object(907)
memory usage: 22.4+ MB

In [14]:
fun_df.describe()

,gvkey,fyear,fyr,pddur,src,upd,fyrc,ggroup,gind,gsector,gsubind,naics,sic,stko
count,3181.000000,3181.000000,3181.000000,3181.000000,3181.000000,3181.000000,3181.000000,3181.0,3181.000000,3181.0,3.181000e+03,3181.000000,3181.000000,3181.000000
mean,68766.078592,2011.300849,9.157498,11.990255,10.792204,2.989626,9.178246,4520.0,452022.077963,45.0,4.520223e+07,343129.014146,4092.715498,0.649796
std,67233.644168,1.191834,3.600231,0.281895,18.823540,0.101340,3.593055,0.0,8.908421,0.0,8.885424e+02,113391.840713,1180.084349,1.235974
min,1013.000000,2009.000000,1.000000,2.000000,3.000000,2.000000,1.000000,4520.0,452010.000000,45.0,4.520102e+07,3341.000000,1311.000000,0.000000
25%,12236.000000,2010.000000,6.000000,12.000000,5.000000,3.000000,6.000000,4520.0,452010.000000,45.0,4.520102e+07,334118.000000,3640.000000,0.000000
50%,30209.000000,2011.000000,12.000000,12.000000,5.000000,3.000000,12.000000,4520.0,452030.000000,45.0,4.520301e+07,334290.000000,3670.000000,0.000000
75%,132525.000000,2012.000000,12.000000,12.000000,5.000000,3.000000,12.000000,4520.0,452030.000000,45.0,4.520302e+07,334515.000000,3825.000000,0.000000
max,289735.000000,2013.000000,12.000000,13.000000,99.000000,3.000000,12.000000,4520.0,452050.000000,45.0,4.520502e+07,999990.000000,9995.000000,3.000000

In [15]:
ratings_df.info() # force objects to dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24581 entries, 0 to 24580
Data columns (total 21 columns):
gvkey       24581 non-null int64
splticrm    24581 non-null object
spsdrm      24581 non-null object
spsticrm    24581 non-null object
datadate    24581 non-null object
city        24581 non-null object
conml       24581 non-null object
ggroup      24581 non-null int64
gind        24581 non-null int64
gsector     24581 non-null int64
gsubind     24581 non-null int64
idbflag     24581 non-null object
loc         24581 non-null object
naics       24581 non-null int64
sic         24581 non-null int64
spcindcd    24581 non-null object
spcseccd    24581 non-null object
spcsrc      24581 non-null object
state       24581 non-null object
conm        24581 non-null object
tic         24581 non-null object
dtypes: int64(7), object(14)
memory usage: 3.9+ MB

In [16]:
ratings_df.describe()

,gvkey,ggroup,gind,gsector,gsubind,naics,sic
count,24581.000000,24581.0,24581.000000,24581.0,2.458100e+04,24581.000000,24581.000000
mean,64387.532566,4520.0,452021.658191,45.0,4.520218e+07,350259.014523,4103.509906
std,62805.014573,0.0,9.329019,0.0,9.306126e+02,114153.903061,1206.111140
min,1013.000000,4520.0,452010.000000,45.0,4.520101e+07,325.000000,2013.000000
25%,10827.000000,4520.0,452010.000000,45.0,4.520102e+07,334119.000000,3651.000000
50%,30540.000000,4520.0,452020.000000,45.0,4.520203e+07,334290.000000,3669.000000
75%,122170.000000,4520.0,452030.000000,45.0,4.520301e+07,334515.000000,3825.000000
max,289735.000000,4520.0,452050.000000,45.0,4.520502e+07,999990.000000,9995.000000

In [18]:
sec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35441 entries, 0 to 35440
Data columns (total 55 columns):
gvkey        35441 non-null int64
iid          35441 non-null object
datadate     35441 non-null object
tic          35441 non-null object
conm         35441 non-null object
ajexm        35441 non-null object
ajpm         35441 non-null object
isalrt       35441 non-null object
primiss      35441 non-null object
spgim        35441 non-null object
spiim        35441 non-null object
spmim        35441 non-null object
cheqvm       35441 non-null object
curcddvm     35441 non-null object
dvpspm       35441 non-null object
dvpsxm       35441 non-null object
dvrate       35441 non-null object
csfsm        35441 non-null object
cshtrm       35441 non-null object
curcdm       35441 non-null object
navm         35441 non-null object
prccm        35441 non-null object
prchm        35441 non-null object
prclm        35441 non-null object
trfm         35441 non-null object
trt1m        35441 non-null object
rawpm        35441 non-null object
rawxm        35441 non-null object
sph100       35441 non-null object
sphcusip     35441 non-null object
sphiid       35441 non-null object
sphmid       35441 non-null object
sphname      35441 non-null object
sphsec       35441 non-null object
sphtic       35441 non-null object
sphvg        35441 non-null object
cshoq        35441 non-null object
adrrm        35441 non-null object
cmth         35441 non-null object
cshom        35441 non-null object
cyear        35441 non-null object
mkvalincl    35441 non-null object
exchg        35441 non-null int64
tpci         35441 non-null object
city         35441 non-null object
conml        35441 non-null object
costat       35441 non-null object
ggroup       35441 non-null int64
gind         35441 non-null int64
gsector      35441 non-null int64
gsubind      35441 non-null int64
loc          35441 non-null object
naics        35441 non-null int64
sic          35441 non-null int64
state        35441 non-null object
dtypes: int64(8), object(47)
memory usage: 14.9+ MB

In [19]:
sec_df.describe()

,gvkey,exchg,ggroup,gind,gsector,gsubind,naics,sic
count,35441.000000,35441.000000,35441.0,35441.000000,35441.0,3.544100e+04,35441.000000,35441.000000
mean,79261.299738,15.421264,4520.0,452021.671793,45.0,4.520219e+07,351234.036173,4150.671990
std,67944.522605,3.674859,0.0,9.344858,0.0,9.321830e+02,127616.155036,1260.277569
min,1013.000000,1.000000,4520.0,452010.000000,45.0,4.520101e+07,325.000000,1311.000000
25%,13410.000000,14.000000,4520.0,452010.000000,45.0,4.520102e+07,334119.000000,3661.000000
50%,63240.000000,14.000000,4520.0,452020.000000,45.0,4.520203e+07,334290.000000,3669.000000
75%,140604.000000,19.000000,4520.0,452030.000000,45.0,4.520301e+07,334515.000000,3825.000000
max,289735.000000,20.000000,4520.0,452050.000000,45.0,4.520502e+07,999990.000000,9995.000000